<html>
<head>
	<title>OfficeDigger - Download</title>
	<link rel="stylesheet" type="text/css" href="../od.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/css/png/favicon.ico" />

<!-- new code for Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10576528-1', 'maplesteve.com');
//  {% if page.ga_group != nil %}
//    ga('set', 'contentGroup1', '{{ page.ga_group }}');
//  {% else %}
//    {% if page.category != nil %}
//      ga('set', 'contentGroup1', '{{ page.category }}');
//    {% else %}
//      ga('set', 'contentGroup1', 'index');
//	{% endif %}
//  {% endif %}
  ga('send', 'pageview');

</script>
<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script>

</head>
<body>

<div id="sidebar">
	<ul>
		<a href="index.html"><li>Überblick</li></a>
		<a href="dokumentation.html"><li>Dokumentation</li></a>
		<a href="download.html"><li>Download</li></a>
		<a href="support.html"><li>Support</li></a>
	</ul>
	<span class="header_header">OfficeDigger</span>
	<div id="header_icon"></div>
</div>

<div id="content">
	<h3>Download</h3>
<!--	<a href="http://maplesteve.com/pages/OfficeDigger/trial/OfficeDigger_Trial.dmg">
		<div id="dl_box">
			<img src="dl_button.png" alt="" width="165" height="40"/><br /><br />
			Download trial version. Fully functional for seven days. laber fasel dumdidum. laber fasel dumdidum.
		</div>
	</a>-->
	<a href="https://itunes.apple.com/de/app/officedigger/id817164908?mt=12"  onclick="trackOutboundLink('https://itunes.apple.com/de/app/officedigger/id817164908?mt=12'); return false;">
		<div id="dl_box">
		<img src="images/Download_on_the_Mac_App_Store_Badge_165x40.svg" alt="" width="165" height="40"/><br /><br />
		Laden Sie OfficeDigger im Mac App Store.
		</div>
	</a>
</div>

</body>
</html>
